@model IEnumerable<PublicTransport.Models.Subscription>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="@Url.Content("~/css/Index.css")" />
<h1>Index</h1>
<style>
    .content-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 1.2em;
        min-width: 400px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0,0,0,15)
    }

        .content-table thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
            font-weight: bold;
        }

        .content-table th,
        .content-table td {
            padding: 5px 15px;
        }

        .content-table tbody tr {
            border-bottom: 1px solid #000000;
        }

            .content-table tbody tr:nth-of-type(even) {
                background-color: gainsboro;
            }

            .content-table tbody tr:last-of-type {
                border-bottom: 3px solid #000000;
            }
</style>
<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container">

    <table class=" content-table" border="1">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Sub_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sub_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Subid">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Subid">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Subid">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
